<div class="container">
  <div class="row">
    <div class="col offset-l3 l6 offset-m2 m8 s12">
      <h3>회원정보 수정</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <br />
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <%= f.label :email, '이메일', class: "active" %>
          <%= f.email_field :email, autofocus: true, required: true %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="input-field">
          <i class="material-icons prefix">supervisor_account</i>
          <%= f.label :name, '이름' %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <i class="material-icons prefix">wc</i>
          <%= f.radio_button :sex, 'Male', class: "with-gap", checked: true %>
          <%= f.label :sex, 'Male', value: 'Male' %>
          <%= f.radio_button :sex, 'Female', class: "with-gap" %>
          <%= f.label :sex, 'Female', value: 'Female' %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">place</i>
          <%= f.label :address, '주소' %>
          <%= f.text_field :address %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">call</i>
          <%= f.label :tele_phone, '전화번호' %>
          <%= f.text_field :tele_phone %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">tag_faces</i>
          <%= f.label :habbit, '취미' %>
          <%= f.text_field :habbit %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">thumb_up</i>
          <%= f.label :strong_point, '자신의 강점' %>
          <%= f.text_field :strong_point %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">assignment_ind</i>
          <%= f.label :introduce_myself, '자기 소개' %>
          <%= f.text_area :introduce_myself, class: "materialize-textarea" %>
        </div>
        <br>
        <div class="input-field">
          <% if @minimum_password_length %>
            <%= f.label :password, '비밀번호 (' + @minimum_password_length.to_s + '글자 이상 입력)', class: "active" %>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="input-field">
          <%= f.label :password_confirmation, '비밀번호 재입력', class: "active" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="input-field">
          <%= f.label :current_password, '현재 비밀번호 (필수)', class: "active" %>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
        <div class="actions">
          <%= button_tag(type: "submit", class: "waves-effect waves-light btn blue lighten-1 wd100") do %>
            회원정보 수정
          <% end %>
        </div>
      <% end %>
      <br>
      <h3>회원삭제</h3>
      <p>계정을 삭제하기 원하시면 아래 삭제 버튼을 눌러주세요.<p>
      <%= link_to "회원삭제", registration_path(resource_name), data: { confirm: "계정을 삭제하시겠습니까?" }, method: :delete, class: "waves-effect waves-light btn red lighten-1 wd100" %>
    </div>
  </div>
</div>
