<div class="container">
  <div class="row">
    <div class="col offset-l3 l6 offset-m2 m8 s12">
      <h4 class="text-center">회원가입</h4>
      <div class="divider"></div>
      <br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <%= f.label :email, '이메일' %>
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">supervisor_account</i>
          <%= f.label :name, '이름' %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <i class="material-icons prefix">wc</i>
          <%= f.radio_button :sex, 'Male', class: "with-gap", checked: true %>
          <%= f.label :sex, 'Male', value: 'Male' %>
          <%= f.radio_button :sex, 'Female', class: "with-gap" %>
          <%= f.label :sex, 'Female', value: 'Female' %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">place</i>
          <%= f.label :address, '주소' %>
          <%= f.text_field :address %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">call</i>
          <%= f.label :tele_phone, '전화번호' %>
          <%= f.text_field :tele_phone %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">tag_faces</i>
          <%= f.label :habbit, '취미' %>
          <%= f.text_field :habbit %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">thumb_up</i>
          <%= f.label :strong_point, '자신의 강점' %>
          <%= f.text_field :strong_point %>
        </div>
        <div class="input-field" id="jobs">
          <i class="material-icons prefix">stars</i>
          <span id ="job_title">_ _ _  역할 선택하기</span>
          <%= f.radio_button :job, '낚시꾼', class: "with-gap", checked: true %>
          <%= f.label :job, '낚시꾼', value: '낚시꾼' %>
          <%= f.radio_button :job, '창지기', class: "with-gap" %>
          <%= f.label :job, '창지기', value: '창지기' %>
          <%= f.radio_button :job, '등대지기', class: "with-gap" %>
          <%= f.label :job, '등대지기', value: '등대지기' %>
          <%= f.radio_button :job, '탐색꾼', class: "with-gap" %>
          <%= f.label :job, '탐색꾼', value: '탐색꾼' %>
          <%= f.radio_button :job, '파도잡이', class: "with-gap" %>
          <%= f.label :job, '파도잡이', value: '파도잡이' %>
          <%= f.radio_button :job, '길잡이', class: "with-gap" %>
          <%= f.label :job, '길잡이', value: '길잡이' %>
          <%= f.radio_button :job, '화염사', class: "with-gap" %>
          <%= f.label :job, '화염사', value: '화염사' %>
        <div class="input-field">
          <i class="material-icons prefix">assignment_ind</i>
          <%= f.label :introduce_myself, '자기 소개' %>
          <%= f.text_area :introduce_myself, class: "materialize-textarea" %>
        </div>
        <br />
        <div class="input-field">
          <i class="material-icons prefix">lock_open</i>
          <% if @minimum_password_length %>
            <%= f.label :password, '비밀번호 (' + @minimum_password_length.to_s + '글자 이상 입력)' %><br>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">lock_outline</i>
          <%= f.label :password_confirmation, '비밀번호 재입력' %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="actions">
          <%= button_tag(type: "submit", class: "waves-effect waves-light btn green lighten-1 wd100") do %>
            회원가입
          <% end %>
        </div>
      <% end %>
      <br>
    </div>
  </div>
  </div>
</div>
