<div class="container">
  <div class="row">
    <div class="col l9 m8 s12">
      <ul class="collection with-header">
        <li class="collection-header">
          <h4><%= @user.name %></h4>
        </li>
        <li class="collection-item valign-wrapper"><i class="tiny material-icons">email</i>&nbsp;&nbsp;<%= @user.email %></li>
        <li class="collection-item valign-wrapper"><i class="tiny material-icons">grade</i>&nbsp;&nbsp;<%= @user.name %></li>
        <li class="collection-item valign-wrapper"><i class="tiny material-icons">location_on</i>&nbsp;&nbsp;<%= @user.sex %></li>
      </ul>
      <%= link_to "학생 리스트 보기", users_path, class: "waves-effect waves-light btn blue lighten-1" %>
      <% if @user == current_user %>
        <%= link_to "프로필 수정하기", edit_user_registration_path, class: "waves-effect waves-light btn green lighten-1" %>
      <% end %>
      <br>
      <br>
    </div>
  </div>
</div>
