<!--logo and nevigation--->
  <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">
        <span class="card-title">Tripmates</span></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="valign-wrapper right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li>
          <span class="pr40"><%= current_user.name%></span>
        </li>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="여행 찾기">
          <%= link_to posts_path do %>
            <span><i class="material-icons">find_replace</i></span>
          <% end %>
        </li>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="여행추천">
          <%= link_to home_recommand_path do %>
            <span><i class="material-icons">directions_car</i></span>
          <% end %>
        </li>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="마이 페이지">
          <%= link_to user_path(current_user) do %>
            <i class="material-icons">face</i>
          <% end %>
        </li>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="로그아웃">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="material-icons">power_settings_new</i>
          <% end %>
        </li>
      <% else %>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="회원가입">
          <%= link_to new_user_registration_path do %>
            <i class="material-icons">perm_identity</i>
          <% end %>
        </li>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="로그인">
          <%= link_to new_user_session_path do %>
            <i class="material-icons">lock</i>
          <% end %>
        </li>
      <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
      <% if user_signed_in? %>
        <li>
          <%= link_to posts_path do %>
            <i class="material-icons">find_replace</i><span>여행 찾기</span>
          <% end %>
        </li>
        <li>
          <%= link_to home_recommand_path do %>
            <i class="material-icons">navigation</i><span>여행지 찾기</span>
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user) do %>
            <i class="material-icons">face</i><span>프로필</span>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="material-icons">power_settings_new</i><span>로그아웃</span>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_registration_path do %>
            <i class="material-icons">perm_identity</i>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <i class="material-icons">lock</i>
          <% end %>
        </li>
      <% end %>
    </ul>
    </div>
  </nav>
