<!--logo and nevigation--->
  <nav>
    <div class="nav-wrap">
      <a href="#!" class="brand-logo">
        <span class="card-title">Tripmates</span></a>
      <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li>
          <span class="pr40">Let's get it</span><span class="pr40"><%= current_user.name%></span>
        </li>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="여행자 찾기">
          <%= link_to users_path do %>
            <span><i class="material-icons">find_replace</i></span>
          <% end %>
        </li>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="마이 페이지">
          <%= link_to user_path(current_user) do %>
            <i class="material-icons">face</i>
          <% end %>
        </li>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="로그아웃">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="material-icons">power_settings_new</i>
          <% end %>
        </li>
      <% else %>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="회원가입">
          <%= link_to new_user_registration_path do %>
            <i class="material-icons">perm_identity</i>
          <% end %>
        </li>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="로그인">
          <%= link_to new_user_session_path do %>
            <i class="material-icons">lock</i>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </nav>
