<div class="container">
  <div class="row">
    <div class="empty-spacing"></div>
    <div class="col offset-l3 l6 offset-m2 m8 s12">
      <h4>로그인</h4>
      <div class="divider"></div>
      <br>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-field">
          <i class="material-icons prefix">person</i>
          <%= f.label :email, '아이디' %>
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">lock_outline</i>
          <%= f.label :password, '비밀번호' %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="actions">
          <%= button_tag(type: "submit", class: "waves-effect waves-light btn blue lighten-1 wd100") do %>
            로그인
          <% end %>
        </div>
      <% end %>
      <div class="row"></div>
        <%= link_to new_user_password_path do %>
          <div class="waves-effect waves-light btn red lighten-1 wd100">비밀번호를 잊어버리셨나요?</div>
        <% end %>
      <div class="empty-spacing"></div>
    </div>
  </div>
</div>
