<!DOCTYPE html>
<html>
  <head>
    <title>Digitool</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style>
    @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
    @import url( 'https://fonts.googleapis.com/css?family=Pacifico');
    @import url( 'https://fonts.googleapis.com/css?family=Sedgwick+Ave');

    </style>
  </head>

  <body>
    <%= render "shared/heading" %>
    <%= render "shared/devise" %>
    <%= yield %>
    <%= render "shared/footer" %>

  </body>
</html>
